*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji';
  font-size: 16px;
}

body {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

img {
  display: block;
  max-width: 100%;
}