.container {
  inline-size: 100%;
  max-inline-size: 75rem;
  margin-inline: auto;
  padding-inline: 0.75rem;
}

.section {
  padding-block: 2.5rem;

  @media (width > 768px) {
    padding-block: 4rem;
  }
}